html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: medium;
}

.row {
	padding: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	margin: 0 16px;
	justify-content: center;
	align-items: flex-start;
}

h1 {
	margin: 0 0 16px 0;
	font-size: 2rem;
}
h2 {
	margin: 0 0 12px 0;
	font-size: 1.5rem;
}
h3 {
	margin: 0 0 8px 0;
	font-size: 1.25rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 64px;
	padding: 16px;
	margin-bottom: 48px;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.btn {
	background-color: #04bf55;
	padding: 0.75em 2em;
	text-decoration: none;
	color: black;
}

.drop {
	border: none;
	border-bottom: black solid 2px;
	width: 100%;
	margin-top: 8px;
	padding: 4px;
	font-family: 'Roboto';
}
